@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-default: 1rem;
  --font-family-heading: 'DM Serif Display', serif;
  --font-family-body: 'Karla', sans-serif;
  --color-dark-violet: hsl(256, 26%, 20%);
  --color-gray-blue: hsl(216, 30%, 68%);
  --color-very-dark-violet: hsl(270, 9%, 17%);
  --color-dark-gray-violet:  hsl(273, 4%, 51%);
  --color-light-gray: hsl(0, 0%, 98%);
}

body {
  color: var(--color-dark-gray-violet);
  font-family: var(--font-family-body);
  font-size: var(--font-size-default);
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  line-height: 1;
  z-index: 2;
}

h1 {
  font-size: 3rem;
  max-width: 15ch;
}

h2 {
  color: var(--color-very-dark-violet);
  font-size: 3rem;
}

h3 {
  color: var(--color-very-dark-violet);
  font-size: 1.5rem;
}

h4 {
  color: var(--color-light-gray);
  font-size: 2.5rem;
}

p {
  max-width: 45ch;
  line-height: 1.6;
  z-index: 2;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn {
  border: 2px solid;
  padding: .65rem 1.75rem;
  font-weight: 700;
  transition: all .15s ease-in-out;
  z-index: 10;
  text-align: center;
}

.btn-dark {
  border-color: var(--color-dark-violet);
  color: var(--color-dark-violet);
}

.btn-dark:hover {
  color: var(--color-light-gray);
  background-color: var(--color-dark-violet);
}

.bg-fill-dark {
  background-color: var(--color-dark-violet);
}

.btn-light {
  border-color: var(--color-light-gray);
  color: var(--color-light-gray);
}

.btn-light:hover {
  color: var(--color-dark-violet);
  background-color: var(--color-light-gray);
}

.divider {
  width: 8rem;
  border-top: 1px solid var(--color-light-gray);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.logo {

}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  font-weight: 700;
}

.nav-links__link:hover {
  color: var(--color-very-dark-violet);
  transition: all .15s ease-in-out;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  color: var(--color-light-gray);
}

.header-grid__background {
  background-color: var(--color-dark-violet);
  position: relative;
}

.header-grid__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 6rem 0;
}

.header-grid__image {
  background-image: url("./images/image-intro-desktop.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  transform: translateY(30%);
  z-index: 1;
  height: 100%;
  width: 100%;
}

.header-grid__pattern-r {
  background-image: url("./images/bg-pattern-intro-right-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 90%;
  z-index: 2;
}

.header-grid__pattern-l {
  background-image: url("./images/bg-pattern-intro-left-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: -40%;
  left: 0;
  width: 20%;
  height: 70%;
  z-index: 2;
}

.mobile-grid {
  display: block;
}

.header__mobile-img {
  display: none;
}

section.info {
  margin-top: 12rem;
}

.info .divider {
  border-color: var(--color-dark-gray-violet);
}

.info h2 {
  margin-top: 4rem;
}

.info__article-group {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.info article h3 {
  margin-top: 2rem;
}

.info article p {
  margin-top: 1rem;
}

.banner {
  position: relative;
  margin-top: 8rem;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-dark-violet);
}

.banner__pattern-r {
  background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 100%;
}



/* Medium screen breakpoint */
@media (max-width: 768px) {
  .md-hidden {
    display: none;
  }
  .md-shown {
    display: block;
  }

  .header-grid {
    grid-template-columns: 1fr;
  }

  .header-grid__content {
    align-items: center;
  }

  .header-grid__image {
    display: none;
  }

  .mobile-grid {
    display: grid;
    grid-template-rows: 100% 1fr;
  }

  .header__mobile-img {
    display: block;
    width: 100%;
  }

  .header__mobile-img img {
    width: 100%;
    height: 100%;
  }

  .header-grid__pattern-r {
    background-image: url("./images/bg-pattern-intro-right-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 90%;
    z-index: 2;
    transform: translateY(40%);
  }

  .header-grid__pattern-l {
    background-image: url("./images/bg-pattern-intro-left-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 90%;
    z-index: 1;
  }

  section.info {
    text-align: center;
  }

  .info .divider {
    margin: 0 auto;
  }

  .info__article-group {
    flex-direction: column;
    gap: 5rem;
  }

  .banner {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }

  .banner__pattern-r {
    background-image: url("./images/bg-pattern-how-we-work-mobile.svg");

  }
}



/* Container breakpoints */
@media (min-width: 640px) {
  .container {
    max-width: 550px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 780px;
  }
  .md-shown {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 975px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1150px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1450px;
  }
}

